<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzBreakpoint="md"
    [ngClass]="{
      fixed: theme.fixSiderbar
    }"
    [nzCollapsedWidth]="menu_sidebar_collapsed_width"
    [nzCollapsible]="true"
    [nzTrigger]="triggerTpl"
    [nzWidth]="menu_sidebar_width"
    [nzTheme]="theme.navTheme"
    (nzCollapsedChange)="changeCollapsed($event)"
  >
    <div class="sidebar-logo">
      <a [routerLink]="['/']">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1 [class.light]="theme.navTheme === 'light'">NGX-WEIPO</h1>
      </a>
    </div>
    <app-menu />
  </nz-sider>
  @if(theme.fixSiderbar){
  <!-- sider固定的时候用来占位的 -->
  <nz-sider
    nzBreakpoint="md"
    nzNoAnimation
    [nzCollapsed]="isCollapsed"
    [nzCollapsedWidth]="menu_sidebar_collapsed_width"
    [nzWidth]="menu_sidebar_width"
    [nzTheme]="theme.navTheme"
  />
  }
  <nz-layout>
    <nz-header
      [ngClass]="{
        fixed: theme.fixedHeader,
        'fixed-collapsed': isCollapsed
      }"
    >
      <ng-container *ngTemplateOutlet="headerTpl" />
    </nz-header>
    <nz-content
      [ngClass]="{
        'margin-fixed-header': theme.fixedHeader,
      }"
    >
      <app-tab />
      <router-outlet />
    </nz-content>
  </nz-layout>
</nz-layout>

<ng-template #triggerTpl>
  <ul nz-menu nzMode="inline" [nzSelectable]="false" [nzTheme]="theme.navTheme">
    <li
      class="trigger-top-border m-0"
      nz-menu-item
      [ngStyle]="{
        'border-top-color':
          theme.navTheme === 'dark' ? 'rgba(0,0,0,0.25)' : 'rgb(240,240,240)'
      }"
      [nzPaddingLeft]="16"
    >
      <i
        class="sp-16"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      ></i>
    </li>
  </ul>
</ng-template>

<ng-template #headerTpl>
  <div class="app-header">
    <div class="app-header-left"></div>
    <div class="app-header-right">

    </div>
  </div>
</ng-template>
