@import 'minireset.less';
@import 'node_modules/ng-zorro-antd/resizable/style/entry.less';
@import 'myvariable.less';
@import 'patch.less';

// 全局样式
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f5f5;
  z-index: 9999;
  opacity: 1;
  will-change: transform;
  transition: opacity 0.65s ease-in-out;

  &.fade-in {
    will-change: transform;
    opacity: 0;
  }

  &.hidden {
    display: none;
  }
}

.ng17color {
  background: linear-gradient(to right, #8514f5, #f637e3, #fa2c05);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inner-content {
  padding: 24px;
  height: 100%;
}

// 全局样式糖
.none {
  display: none;
}

.full-height {
  height: 100%;
}
.full-with {
  width: 100% !important;
}

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.t-0 {
  top: 0 !important;
}
.l-0 {
  left: 0 !important;
}
.b-0 {
  bottom: 0 !important;
}
.r-0 {
  right: 0 !important;
}

.m-0 {
  margin: 0 !important;
}
.m-10 {
  margin: 10px !important;
}

.m-l-4 {
  margin-left: 4px !important;
}
.m-l-8 {
  margin-left: 8px !important;
}
.m-l-12 {
  margin-left: 12px !important;
}
.m-l-16 {
  margin-left: 16px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-l-24 {
  margin-left: 24px !important;
}

.m-r-4 {
  margin-right: 4px !important;
}
.m-r-8 {
  margin-right: 8px !important;
}
.m-r-12 {
  margin-right: 12px !important;
}
.m-r-16 {
  margin-right: 16px !important;
}
.m-r-20 {
  margin-right: 20px !important;
}
.m-r-24 {
  margin-right: 24px !important;
}

.m-t-4 {
  margin-top: 4px !important;
}
.m-t-8 {
  margin-top: 8px !important;
}
.m-t-12 {
  margin-top: 12px !important;
}
.m-t-16 {
  margin-top: 16px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-24 {
  margin-top: 24px !important;
}

.m-b-4 {
  margin-bottom: 4px !important;
}
.m-b-8 {
  margin-bottom: 8px !important;
}
.m-b-12 {
  margin-bottom: 12px !important;
}
.m-b-16 {
  margin-bottom: 16px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-24 {
  margin-bottom: 24px !important;
}

.p-0 {
  padding: 0 !important;
}
.p-8 {
  padding: 8px !important;
}
.p-16 {
  padding: 16px !important;
}
.p-24 {
  padding: 24px !important;
}

.p-l-4 {
  padding-left: 4px !important;
}
.p-l-8 {
  padding-left: 8px !important;
}
.p-l-16 {
  padding-left: 16px !important;
}
.p-l-24 {
  padding-left: 24px !important;
}

.p-r-4 {
  padding-right: 4px !important;
}
.p-r-8 {
  padding-right: 8px !important;
}
.p-r-16 {
  padding-right: 16px !important;
}
.p-r-24 {
  padding-right: 24px !important;
}

.p-t-4 {
  padding-top: 4px !important;
}
.p-t-8 {
  padding-top: 8px !important;
}
.p-t-16 {
  padding-top: 16px !important;
}
.p-t-24 {
  padding-top: 24px !important;
}

.p-b-4 {
  padding-bottom: 4px !important;
}
.p-b-8 {
  padding-bottom: 8px !important;
}
.p-b-16 {
  padding-bottom: 16px !important;
}
.p-b-24 {
  padding-bottom: 24px !important;
}

.font-12 {
  font-size: 12px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}

.transition-bg-0 {
  transition: background-color 0s !important;
}
.transition-02 {
  transition: all 0.2s;
}
.transition-03 {
  transition: all 0.3s;
}

.color-grey {
  color: #d9d9d9;
}

.hover-blue {
  &:hover {
    color: #409eff;
  }
}
.hover-red {
  &:hover {
    color: #f5222d;
  }
}

.flex {
  display: flex;
}
.flex-coloum {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-auto {
  flex: auto;
}
