<div class="inner-content">
  <nz-card
    class="m-b-12 search-bar"
    nzHoverable
    [nzBodyStyle]="{ 'padding-bottom': 0 }"
  >
    <sf [schema]="schema" (formSubmit)="search($event)"></sf>
  </nz-card>

  <nz-card
    nzHoverable
    nzTitle="角色列表"
    [nzExtra]="extraTemplate"
    [nzBodyStyle]="{ 'flex': 'auto' }"
  >
    <ng-template #extraTemplate>
      <button nz-button [nzType]="'primary'">
        <i nz-icon nzType="plus"></i>
        新建
      </button>
    </ng-template>
    <nz-table
      nzBordered="true"
      [nzShowSizeChanger]="true"
      [nzData]="items"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th nzColumnKey="name">角色名称</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        @for (item of items; track $index) {
        <tr>
          <td>
            <span style="margin-right: 10px">{{ item.name }}</span>
            @if(item.isPublic){
            <nz-tag [nzColor]="'blue'">公开</nz-tag>
            }
          </td>
          <td>
            <a>编辑</a>
          </td>
        </tr>
        }
      </tbody>
    </nz-table>
  </nz-card>
</div>
