<div class="inner-content">
  <nz-table
    [nzData]="items"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th nzColumnKey="name" [nzSortFn]="true" [nzFilterFn]="true">
          角色名称
        </th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      @for (item of items; track $index) {
      <tr>
        <td>
          <span style="margin-right: 10px">{{ item.name }}</span>
          @if(item.isPublic){
          <nz-tag [nzColor]="'blue'">公开</nz-tag>
          }
        </td>
        <td>
          <a nz-button nzType="link">编辑</a>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>